@media screen and (max-width: 800px) {
  /* .navbar {
    display: none;
    w: 800px;
  } */

  .table-trans {
    max-width: 800px;
  }
}

@media screen and (min-width: 1406px) {
  /* .navbar {
    display: none;
  } */

  .table-trans {
    width: 1200px;
  }
}
